footer{
    margin-top: 100px;
    background-color: #5974a3;
    color: white;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 15px;
    margin-bottom: -20px;
}
.info-item{
    margin: 10px 0;
}
.info-item > i {
    margin-right: 15px;
}
.info-item > a{
    color: white;
    text-decoration: none;
}