.nav-bar{
    background-color:#5974a3;
    height: 4rem;
}
.name {
    margin-top: 10px;
    color: white;
    margin-left: 100px;
    font-size: 25px;
}
.nav-links{
    margin-right: 100px;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;

    align-content:space-between;
    align-items: center;
}
li{ 
    margin: 15px 20px;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
}
 li:hover {
    background-color: white;
    
    color: #5974a3;
    cursor: pointer;
}